.top {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 68px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 18px;
}


.title {
  display: flex;
  align-items: center;
}

