.item {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--colors--neutral--500);
  min-height: 40px;
  padding-left: 62px;
  font-weight: 500;

  &:hover {
    background-color: var(--colors--neutral--500);
    color: var(--color-white);

  }
}

.link {
  width: 100%;
  padding: 10px 10px 10px 0;
  white-space: nowrap;
}

.indicator {
  position: absolute;
  left: 31px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--colors--neutral--700);
}

.active {
  background-color: var(--colors--neutral--500);
  color: var(--color-white);
}

:global(.extended) {
  .item a {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
