.item {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--colors--neutral--400);
  min-height: 50px;
  padding-left: 62px;
  font-weight: 500;
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-white);
    cursor: pointer;
  }
}

.link {
  width: 100%;
  padding: 10px 10px 10px 15px;
  white-space: nowrap;
}

.indicator {
  position: absolute;
  left: 31px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.active {
  color: var(--color-white);
}

