.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.submit {
  display: flex;
  justify-content: center;
}
