.switcher {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem;
  background-color: var(--colors--neutral--400);
  border-radius: 9999px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  width: 100px;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color:var(--color-white);
    border-radius: 9999px;
    box-shadow: 0 2px 6px var(--colors--neutral--500);
  }

  &__option {
    position: relative;
    z-index: 10;
    width: 50%;
    text-align: center;
    font-weight: 500;
    color: var(--colors--neutral--500);
    transition: color, font-weight 0.2s ease;

    &.active {
      color: var(--colors--neutral--700);
      font-weight: 600;
    }
  }
}
