.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.hasError {
    .input {
      border-color: var(--color-red-alarm);
    }
  }
}

.label {
  user-select: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--colors--neutral--400);
  text-wrap: nowrap;
  padding-bottom: 10px;
  &:hover {
    color: var(--color-white);
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  padding: 10px 32px 10px 12px;
  font-size: 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .03);
  border: 1px solid rgba(255, 255, 255, .10);
  color: var(--colors--neutral--100);
  transition: all 0.2s ease;
  width: 100%;
  height: 50px;

  &::placeholder {
    color: rgba(255, 255, 255, .50);
  }

  &:hover {
    color: var(--color-white);
    border-color: rgba(255, 255, 255, .30);

    &::placeholder {
      color: var(--color-white);
    }
  }

  &:focus {
    border-color: var(--color-white);
  }
}

.clearButton {
  position: absolute;
  right: 6px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--colors--neutral--400);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
  padding: 4px;


  &:hover {
    color: var(--color-white);
  }
}

.errorWrapper {
  height: 20px; // минимальная высота, чтобы input не прыгал
}

.error {
  color: var(--color-red-alarm);
  padding-top: 6px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  white-space: nowrap;
}
