.heading-base {
  font-style: normal;
  font-weight: 700;
  line-height: 1.1em;
}

.heading-h1 {
  font-size: 2.77rem;
}

.heading-h2 {
  font-size: 3.23rem;
}

.heading-h3 {
  font-size: 2.46rem;
}

.heading-h4 {
  font-size: 1.85rem;
}

.heading-h5 {
  font-size: 1.08rem;
  letter-spacing: 0.01em;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
