.skeleton {
  background-color: var(--color-grey-easy);
  animation: 2s infinite ease-in-out pulse;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
