.item {
  display: flex;
  align-items: center;
  transition: 0.2s;
  color: var(--colors--neutral--200);

  &:hover {
    background-color: var(--colors--neutral--500);
    color: var(--color-white);
  }
}

.icon {
  flex: none;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  svg {
    height: 20px;
  }
}

.text {
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
}

