.root {
  position: relative;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
  color: var(--colors--neutral--400);
  font-size: 16px;

  &:hover {
    color: var(--color-white);
  }
}

.icon {
  flex: none;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  svg {
    height: 30px;
  }
}

.text {
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
}

.active {
  color: var(--color-white);
}

