.item {
  display: flex;
  align-items: center;
  transition: 0.2s;
  color: var(--color-grey-medium);

  &:hover {
    background-color: var(--color-primary-darkest);
    color: var(--color-white);
  }
}

.icon {
  flex: none;
  width: var(--size-68);
  height: var(--size-68);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    fill: var(--color-grey-light);
    height: var(--size-20);
  }
}

.text {
  font-weight: 500;
  line-height: 18px;
  margin-left: -10px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-10px);
  transition:
    opacity 1s,
    font-size 0.1s ease-out,
    transform 0.5s;
}

:global(.extended) {
  .text {
    visibility: visible;
    opacity: 1;
    font-size: 13px;
    transform: translateX(0);
  }
}
