.wrapper {
  display: flex;
  user-select: none;
  width: 100%;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, .03);
  border-radius: 10px;
  color: var(--color-white);
  font-size: 16px;
  padding: 20px 12px;
}

.label {
  user-select: none;
  font-weight: bold;
  text-wrap: nowrap;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}
