.tabs {
  position: relative;
  display: flex;
  background: rgba(255, 255, 255, .05);
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 16px;
  width: 100%;
}

.tabs button {
  flex: 1;
  border: none;
  background: transparent;
  color: var(--colors--neutral--500);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s ease;
}

.tabs button:hover:not(.active) {
  color: var(--colors--neutral--400);
}

.tabs .active {
  color: var(--colors--neutral--100);
}

.indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(255, 255, 255, .01);
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
