.wrapper {
  display: inline-flex;
  background: rgba(255, 255, 255, .05);
  border-radius: 10px;
  padding: 4px;
  gap: 20px;
  position: relative;
}

.tab {
  position: relative;
  border: none;
  background: transparent;
  color: var(--colors--neutral--500);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.label {
  position: relative;
  z-index: 2;
  transition: color 0.2s ease;
}

.activeLabel {
  color: var(--colors--neutral--100);
}

.activeBackground {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 1;
}
