.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s, opacity 0.2s;
  cursor: pointer;


  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
    visibility: visible;

    &.loading {
      opacity: 0.3;
    }
  }

  .icon-left,
  .icon-right {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .icon-left {
    margin-right: 8px;
  }

  .icon-right {
    margin-left: 8px;
  }

  .spinner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: white;
      width: 30px;
      height: 30px;
      animation: spin 1.5s linear infinite;
    }
  }
}

// Размеры
.sm {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
}

.md {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.lg {
  padding: 10px 20px;
  font-size: 14px;
}

// Цвета
.primary {
  background-color: var(--colors--primary--100);
  color: var(--neutral-100);

  &:hover:not(:disabled), &:active {
    background-color: var(--colors--secondary--100);
  }

}

.secondary {
  background-color: var(--neutral-200);
  color: var(--neutral-800);

  &:hover:not(:disabled) {
    background-color: var(--neutral-300);
  }
}

.neutral {
  background-color: var(--neutral-500);
  color: var(--neutral-100);

  &:hover:not(:disabled) {
    background-color: var(--neutral-400);
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner svg {
  color: white;
  width: 30px; // 20px
  height: 30px;
  animation: spin 1.5s linear infinite;
}
