.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, .03);
  border-radius: 10px;
  padding: 10px 14px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.label {
  color: var(--colors--neutral--400);
  font-size: 14px;
  text-wrap: nowrap;
}

.text {
  font-size: 16px;
  color: var(--color-white);
  white-space: nowrap;
  text-overflow: ellipsis;
}
