.wrapper {
  display: flex;
  flex-direction: column;
}

.errorWrapper {
  height: 20px; // минимальная высота, чтобы input не прыгал
}

.error {
  color: var(--color-red-alarm);
  padding-top: 6px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  white-space: nowrap;
}
