.root {
  width: 100%;
  position: relative;

}

.item {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--colors--neutral--200);
  cursor: pointer;

  &:hover {
    background-color: var(--colors--neutral--500);
    color: var(--color-white);
  }
}

.icon {
  flex: none;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    height: 20px;
  }
}

.arrow {
  margin-left: auto;
  margin-right: 28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0;
  border-color: rgb(128 134 145 / 60%) transparent transparent;
}

.sublist {
  overflow: hidden;
}
