.root {
  width: 100%;
  position: relative;
}

.item {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  transition: color 0.2s ease;
  color: var(--colors--neutral--400);
  cursor: pointer;

  &:hover {
    color: var(--color-white);
    .arrow {
      border-color: var(--color-white) transparent transparent;
    }
  }
}

.icon {
  flex: none;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    height: 20px;
  }
}

.arrow {
  margin-left: auto;
  margin-right: 28px;
  border-style: solid;
  border-width: 7px 5px 0;
  border-color: rgb(128 134 145 / 60%) transparent transparent;
  transition: border-color 0.2s ease;
}

.active {
  color: var(--color-white);
}
