.aside {
  position: relative;
  background: var(--background-aside);
  backdrop-filter: blur(10px);
  border: var(--border-primary);
  border-radius: var(--radius-xxl);
  font-weight: 500;
  min-width: 285px;
  overflow: hidden;

  .menu {
    margin-top: 40px;
  }

  .languageWrapper {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

