.aside {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--colors--neutral--600);
  height: 100vh;
  font-weight: 500;
  width: 68px;
  z-index: 1000;
  overflow: hidden;

  .menu {
    margin-top: 20px;
  }
}

