:root {
    --font-montserrat: 'Montserrat', sans-serif;
    font-family: var(--font-montserrat) !important;
    font-size: 13px;
}

body {
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 1280px;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

menu {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
button,
input,
label,
select,
textarea {
    outline: 0;
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    background: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading svg {
    color: var(--color-primary);
    /*width: var(--size-50);*/
    /*height: var(--size-50);*/
    animation: spin 2s alternate infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
