.skeleton {
  pointer-events: none;

  td {
    padding-top: var(--size-16);
    padding-bottom: var(--size-16);

    & > div {
      height: var(--size-14);
      border-radius: var(--size-6);
      width: 100%;
    }
  }
}

.table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: var(--size-20);

  th,
  td {
    padding: var(--size-8) var(--size-8) var(--size-8) var(--size-18);
    vertical-align: middle;
    background-color: var(--color-white);
    box-shadow: inset 0 -1px 0 var(--color-grey-easy);
  }

  tr {
    height: var(--size-50);
    background-color: var(--color-white);

    &.clickable {
      transition: background 0.25s;

      td {
        transition: background 0.25s;
      }

      &:hover {
        background-color: var(--color-grey-easy);

        td {
          background-color: var(--color-grey-easy);
        }
      }
    }
  }

  thead {
    top: 0;
    z-index: 1;

    th {
      text-align: left;

      &:global(.sortable) {
        padding-right: var(--size-16);

        &::after {
          position: absolute;
          right: var(--size-2);
          top: 50%;
          content: none;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
        }
      }

      &:global(.asc) {
        &::after {
          content: '';
          border-width: 0 var(--size-4) var(--size-6) var(--size-4);
          border-color: transparent transparent var(--color-primary) transparent;
        }
      }

      &:global(.desc) {
        &::after {
          content: '';
          border-width: var(--size-6) var(--size-4) 0 var(--size-4);
          border-color: var(--color-primary) transparent transparent transparent;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--size-40);
}
