.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid rgba(255, 255, 255, .1);
  font-size: 14px;
  color: var(--colors--neutral--400);
  border-radius: 6px;
  overflow: hidden;

  th,
  td {
    padding: 14px 16px;
    vertical-align: middle;
    background: rgba(255, 255, 255, .05);
    //box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.04); // черточки
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  thead {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
    color: white;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);

    th {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      user-select: none;
    }
  }

  tbody {
    td {}
    tr {
      height: 56px;
      transition: color 0.2s ease;

      &:hover {
        color: white;
        td {
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
      }

      &.clickable {
        cursor: pointer;
      }
    }
  }
}

/* Скелетон */
.skeleton {
  pointer-events: none;

  td {
    padding-top: 16px;
    padding-bottom: 16px;

    & > div {
      height: 12px;
      border-radius: 8px;
      width: 100%;
      background: linear-gradient(
                      90deg,
                      var(--colors--neutral--700),
                      var(--colors--neutral--600),
                      var(--colors--neutral--700)
      );
      background-size: 200% 100%;
      animation: shimmer 1.4s ease infinite;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Суммы */
.amountPositive {
  color: #4ade80; /* мягкий зелёный */
  font-weight: 500;
}

.amountNegative {
  color: #f87171; /* мягкий красный */
  font-weight: 500;
}

/* Тип операции */
.type {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--colors--neutral--200);
  font-weight: 500;
}

/* Статус */
.status {
  font-size: 13px;
  color: var(--colors--neutral--500);
}

/* Детали */
.details {
  color: var(--colors--neutral--400);
}

