.content {
  display: flex;
  align-items: start;
  gap: 20px;
}
.amount {
  flex: 1;
}

.label {
  display: block;
  user-select: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--colors--neutral--400);
  text-wrap: nowrap;
  padding-bottom: 10px;

  &:hover {
    color: var(--color-white);
  }
}


