.label {
  user-select: none;
  font-size: 13px;
  font-weight: bold;
  color: var(--colors--neutral--400);
  text-wrap: nowrap;
  padding-bottom: 10px;

  &:hover {
    color: var(--color-white);
  }
}
